//primary
$color-green-56:#014E56;
$color-coral: #F67E7E;
$color-white:#fff;
//secondary
$color-light-blue:#79C8C7;
$color-dark-blue:#2C6269;
$color-green-47:#004047;
$color-green-34:#012F34;
$color-green-29:#002529;
$color-green-C7:#79C8C7;

$border-radius:24px;